<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecommitment</title>
</head>
<body>
  <h1>Configuration</h1>
  <p><%= user_data.store_name %></p>
  <p><%= user_data.product_id %></p>
  <p><%= user_data.variant_id %></p>

</body>
</html>