<style>
 .ecomm-container {
      margin: 20px 0;
      border: 1px solid rgba(67,67,67,0.3);
      padding: 10px;
      background-color: rgba(255, 255, 255, 1);
      display: block;
      border-radius: 16px;
      box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
      /* Adjust values for your shadow */
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
  
    .ecomm-description-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .ecomm-description-container p {
      font-size: 20px;
    }
  
    .ecomm-description-container span {
      font-weight: bold;
    }

  
    .ecomm-logo {
      height: 34px;
    }
  
    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 34px;
    }
    .title-container a {
      cursor: pointer;
    }
    .ecomm-amount p{
      font-size: 24px;
      margin: 0;
    }
  

  
    .switch-amount {
      display: flex;
      align-items: center;
    }
  
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      transition: background-color 0.4s;
    }
  
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      /* Bootstrap-like box shadow */
  
    }
  
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  
    input:checked+.slider {
      background-color: #34a77c;
    }
  
    input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
    }
  
    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
  
    .slider.round:before {
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-image: url(https://juanseferrari.github.io/ecommitment/public/images/earth.svg);
      background-repeat: no-repeat;
      background-color: rgba(255, 0, 0, 0);
      filter: invert(100%)
        /* Para hacer el mundo negro, lo podemos hacer con esto. */
    }
    
    .info-container {
      position: relative;
    }
  
    .info-icon {
      font-size: 24px;
      color: blue;
      cursor: pointer;
    }
  
    .info-icon-svg {
      height: 34px;
      width: 24px;
      fill: #2196F3;
    }
  
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    .modal-content {
      border-radius: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease, transform 0.3s ease;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  
    .modal.active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      transition: all 1s ease;
  
    }
  
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
</style>

<body style="background-color: black;">

  <div class="ecomm-container">
    <div class="title-container">
      <!-- Rounded switch -->
        <a >
          <img class="ecomm-logo" src="https://juanseferrari.github.io/ecommitment/public/images/logo_transparente.png" alt="">
        </a>
      <div style="display: flex;" class="ecomm-amount">
        <p>$10</p>

      </div>
      <!-- Description -->
    </div>
    <div class="ecomm-description-container">
      <div class="ecomm-main-text">
        <p>
          <span>¡Transformá tu envío en carbono neutral!</span>
        </p>
      </div>
      <div class="ecomm-toggle-button">
          <label class="switch">
            <input type="checkbox" id="ecomm-mainSwitch">
            <span class="slider round">
            </span>
          </label>
      </div>

    </div>
      <div class="info-container">
        <div class="info-icon" onclick="openModal()">
          <svg class="info-icon-svg" xmlns="http://www.w3.org/2000/svg" height="16" width="16"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
          </svg>
        </div>
      </div>

      <div class="modal" id="ecomm-infoModal">
        <div class="modal-content">
          <span class="close-btn" onclick="closeModal()">&times;</span>
          <p>This is the information you want to display in the modal.</p>
        </div>
      </div>
    </div>

</body>





<script>

  function openModal() {
    var modal = document.getElementById("ecomm-infoModal");
    modal.style.display = "block";

    // Add event listener to close modal when clicking outside
    window.addEventListener("click", function (event) {
      if (event.target === modal) {
        closeModal();
      }
    });
  }

  function closeModal() {
    var modal = document.getElementById("ecomm-infoModal");
    modal.style.display = "none";
  }

  let switchCheckbox = document.getElementById('ecomm-mainSwitch');


  switchCheckbox.addEventListener('change', function () {
    if (switchCheckbox.checked) {
      console.log('Switch is ON');
      //Add product to cart for the amount given. 



    } else {
      //REMOVE PRODUCT. 
      console.log('Switch is OFF');


    }
  });

</script>