<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecommitment</title>

  <link rel="stylesheet" href="/css/utils.css" />
  <link rel="stylesheet" href="/css/styles-sm.css" />

</head>
<body>
  <nav>
    <img src="/images/logo_transparente_on.png" alt="" class="main-logo">

  </nav>
  <div class="image-container">
      <img src="/images/env_gif.gif" alt="" class="main-image">

  </div>



  <div class="login-button">
    <button type="button" class="btn btn-outline-secondary">
        <a class="tn-button-a" href="https://www.tiendanube.com/apps/6107/authorize" target="_blank">
        <div class="login-button-text">
          <img class="login-button-logo" src="/images/tiendanube_logo.png" alt="">
          <p class="login-button-p">Login Tiendanube</p>
        </div>
      </a>
    </button>
</div>
</body>
</html>